@media only screen and (max-width: 63.9375rem) {
    #flex-row-reverse {
        flex-direction: row;
    }
}

@media only screen and (max-width: 48rem) {
    #flex-row-reverse {
        flex-direction: column-reverse;
    }

    #hero-photo-resizing {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 36rem) {

    #hero-photo-resizing {
        max-width: 40vw;
    }
}