.blog-img {
    object-fit: cover;
    /* Or "contain", depending on the desired effect */
    height: 50vh;
    /* You can adjust this value to suit your needs */
}

@media only screen and (min-width: 64rem) {
    #singleblog-page {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 48rem) {
    #singleblog-page {
        margin-top: 1.5rem;
    }
}